<div class="rt-sidebar">
        <div class="inner">
{template 'appoitment'}
            <div class="wrap-hotRecommend borT mt--20 pt--10">
                <h2><div class="clearfix"><span class="fl">热销产品案例</span><a class="fr fs12 ff-sm mt--5 c--999" href="/photo">更多></a></div></h2>
                <div class="list mt--5">
                    <!--{php $rightTags=tag("moduleid=$moduleid&condition=status=3 and addtime>$today_endtime-30*86400&catid=$catid&areaid=$cityid&order=hits desc&template=null&pagesize=9");}-->
                    {loop $rightTags $i $t}
                        <a class="row {if $i < 3}top3{/if}" href="{$t[linkurl]}">
                            <em class="fl">{$i+1}</em>
                            <div class="txt"><span>{$t[title]}</span></div>
                            <div class="info clearfix">
                                <img class="fl" src="{$t[thumb]}" />
                                <div class="tit">{dsubstr($t[introduce], 32, '...')}<i>[查看详情]</i></div>
                            </div>
                        </a>
                    {/loop}
                </div>
            </div>
            <div class="wrap-hotlabel borT mt--20 pt--10 pb--30">
                <h2><div class="clearfix"><span class="fl">热门标签</span><a class="fr fs12 ff-sm mt--5 c--999" href="#">更多></a></div></h2>
                <div class="list mt--5">
                    <a href="#">不锈钢栏杆</a><a href="#">铝合金门窗</a><a href="#">全铝门窗</a><a href="#">铝合金纱窗</a><a href="#">不绣钢防盗门</a><a href="#">入户门</a><a href="#">别墅大门</a><a href="#">楼梯扶手</a><a href="#">全铝家具</a><a href="#">铝合金阳台栏杆</a>
                </div>
            </div>
        </div>
</div>