{template 'ui_header'}
	<!-- <>主体容器区域 -->
	<div class="container">
		<!-- //banner区域 -->
		<div class="wrap__about-banner"></div>
		
		<div class="wrap__about-summary">
			<div class="mid">
				<div class="intros clearfix">
					<div class="lt fl">
						<div class="rect">
							<h2>【品牌简介】</h2>
							<h3>东有家居装饰</h3>
							<span class="db ff-sm">>>></span>
						</div>
						<h2 class="hdtxt">您与数万家庭的共同选择</h2>
						<p>“东有家居装饰”由广州市东有装饰有限公司投资创办，公司集不锈钢立柱,不锈钢楼梯立柱,不锈钢拦杆立柱,不锈钢扶手立柱,不锈钢护栏立柱,不锈钢工程立柱等系列以及配件的销售、加工、制作及安装为一体，是一家以“打造最专业的栏杆扶手企业”为使命的装饰公司。</p>
						<p>公司自成立以来，专注于不锈钢栏杆扶手的设计、制作、安装与维护，研发并实现了系列新颖的栏杆扶手款式，用专业和技术打破了一个个不锈钢工程神话。我公司主营不锈钢栏杆、不锈钢楼梯扶手、铝合金栏杆扶手、铁艺护栏等产品，专注于栏杆扶手的设计、制作及安装。随着业务范围的不断拓展与深入挖掘，我司丰富了系列产品线的配套部件，使产品更加精深全面。除供应各式栏杆扶手外，我司汇聚栏杆扶手全套配件资源，系列配件产品成为我司又一重点业务，为栏杆扶手的实现提供完善的配套服务。</p>
						<p>十年风雨历程，公司积淀了雄厚实力与宝贵经验，且具有强大的供应及施工能力，2012年启动全新计划，打造专业全面的栏杆扶手网站，不断提升产品及服务质量，为消费者提供优质高效的满意服务。</p>
					</div>
					<div class="rt fr"><img src="{DT_STATIC}statics/img/placeholder/about-bg01-img.png" /></div>
				</div>
			</div>
		</div>
		
		<!-- //公司荣誉 -->
		<div class="similar-wrap wrap__company-honor">
			<div class="mid clearfix">
				<div class="mt"><span class="tit c--fff"><i class="line"></i>公司荣誉<i class="line"></i></span><label class="c--fff">让每一个顾客都享受品质家居</label></div>
				<div class="mc">
					<div class="align-c mt--80"><img src="{DT_STATIC}statics/img/placeholder/about__company-honor.png" /></div>
				</div>
			</div>
		</div>
		
		<!-- //品牌实力 -->
		<div class="similar-wrap wrap__brand-power">
			<div class="mid clearfix">
				<div class="mt"><span class="tit"><i class="line"></i>品牌实力<i class="line"></i></span><label>让每一个选择我们的人都能享受品质家居</label></div>
				<div class="mc">
					<ul>
						<li><a href="#"><img src="{DT_STATIC}statics/img/placeholder/brand-img01.jpg" height="120" width="285" /></a></li>
						<li><a href="#"><img src="{DT_STATIC}statics/img/placeholder/brand-img02.jpg" height="120" width="285" /></a></li>
						<li><a href="#"><img src="{DT_STATIC}statics/img/placeholder/brand-img03.jpg" height="120" width="285" /></a></li>
						<li><a href="#"><img src="{DT_STATIC}statics/img/placeholder/brand-img04.jpg" height="120" width="285" /></a></li>
					</ul>
					<ul class="middle">
						<li>
							<a href="#"><img src="{DT_STATIC}statics/img/placeholder/brand-img05.jpg" height="120" width="285" /></a>
							<a href="#"><img src="{DT_STATIC}statics/img/placeholder/brand-img06.jpg" height="120" width="285" /></a>
						</li>
						<li class="bigimg">
							<a><img src="{DT_STATIC}statics/img/placeholder/brand-bigimg.jpg" height="258" width="590" /></a>
							<div class="info">
								<h2>东有家居定制</h2>
								<p>不辜负每一位选择我们的您</p>
								<a class="btn-zixun bg__ff4a00-hover transit" href="#">点击咨询</a>
							</div>
						</li>
						<li>
							<a href="#"><img src="{DT_STATIC}statics/img/placeholder/brand-img07.jpg" height="120" width="285" /></a>
							<a href="#"><img src="{DT_STATIC}statics/img/placeholder/brand-img08.jpg" height="120" width="285" /></a>
						</li>
					</ul>
					<ul>
						<li><a href="#"><img src="{DT_STATIC}statics/img/placeholder/brand-img09.jpg" height="120" width="285" /></a></li>
						<li><a href="#"><img src="{DT_STATIC}statics/img/placeholder/brand-img10.jpg" height="120" width="285" /></a></li>
						<li><a href="#"><img src="{DT_STATIC}statics/img/placeholder/brand-img11.jpg" height="120" width="285" /></a></li>
						<li><a href="#"><img src="{DT_STATIC}statics/img/placeholder/brand-img12.jpg" height="120" width="285" /></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<!-- //加入我们 -->
		<div class="similar-wrap wrap__about-joinme bg--fff">
			<div class="mid clearfix">
				<div class="mt"><span class="tit"><i class="line"></i>加入我们<i class="line"></i></span><label></label></div>
				<div class="mc">
					<ul class="clearfix">
						<li>
							<h2 class="name">铝合金门窗制作师傅</h2>
							<div class="row">
								<p>岗位描述：</p>
								<p>1、负责公司不锈钢/铝合金相关产品的加工制作</p>
								<p>2、负责栏杆扶手、不锈钢/铝合金门窗等的现场测量、估价及安装</p>
								<p>3、负责与客户洽谈方案及相关商务事宜</p>
							</div>
							<div class="row">
								<p>岗位要求：</p>
								<p>1、2年以上铝合金或不锈钢门窗、栏杆扶手、制品等制作工作经验，熟悉不锈钢和铝合金材料及其相关产品的生产流程、工艺制作、产品性能；</p>
								<p>2、安装各类栏杆扶手、不锈钢/铝合金门窗上具有精湛的技艺及娴熟的经验</p>
								<p>3、懂得看图纸，并能根据图纸计料和计价，有独立接单能力；</p>
							</div>
							<div class="row">
								<p>招聘人数：3 <span class="ml--20">工作地点：广州</span></p>
								<p>本岗位详情咨询电话 020-32058440转803。</p>
							</div>
						</li>
						<li>
							<h2 class="name">不锈钢栏杆制作师傅</h2>
							<div class="row">
								<p>岗位描述：</p>
								<p>1、负责公司不锈钢/铝合金相关产品的加工制作</p>
								<p>2、负责栏杆扶手、不锈钢/铝合金门窗等的现场测量、估价及安装</p>
								<p>3、负责与客户洽谈方案及相关商务事宜</p>
							</div>
							<div class="row">
								<p>岗位要求：</p>
								<p>1、2年以上铝合金或不锈钢门窗、栏杆扶手、制品等制作工作经验，熟悉不锈钢和铝合金材料及其相关产品的生产流程、工艺制作、产品性能；</p>
								<p>2、安装各类栏杆扶手、不锈钢/铝合金门窗上具有精湛的技艺及娴熟的经验</p>
								<p>3、懂得看图纸，并能根据图纸计料和计价，有独立接单能力；</p>
							</div>
							<div class="row">
								<p>招聘人数：3 <span class="ml--20">工作地点：广州</span></p>
								<p>本岗位详情咨询电话 020-32058440转803。</p>
							</div>
						</li>
						<li>
							<h2 class="name">楼梯扶手制作师傅</h2>
							<div class="row">
								<p>岗位描述：</p>
								<p>1、负责公司不锈钢/铝合金相关产品的加工制作</p>
								<p>2、负责栏杆扶手、不锈钢/铝合金门窗等的现场测量、估价及安装</p>
								<p>3、负责与客户洽谈方案及相关商务事宜</p>
							</div>
							<div class="row">
								<p>岗位要求：</p>
								<p>1、2年以上铝合金或不锈钢门窗、栏杆扶手、制品等制作工作经验，熟悉不锈钢和铝合金材料及其相关产品的生产流程、工艺制作、产品性能；</p>
								<p>2、安装各类栏杆扶手、不锈钢/铝合金门窗上具有精湛的技艺及娴熟的经验</p>
								<p>3、懂得看图纸，并能根据图纸计料和计价，有独立接单能力；</p>
							</div>
							<div class="row">
								<p>招聘人数：3 <span class="ml--20">工作地点：广州</span></p>
								<p>本岗位详情咨询电话 020-32058440转803。</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="wrap__about-map">
			<div class="mid">
				<div class="forms">
					<h2 class="tit">抢领免费设计名额</h2>
					<div class="row clearfix">
						<input class="ipt-text fl" type="text" name="username" placeholder="您的称呼*" style="width:150px;" />
						<input class="ipt-text fl" type="text" name="telphone" placeholder="您的手机*" style="margin-left:10px;width:270px;" />
					</div>
					<div class="row clearfix"><input class="ipt-text" type="text" name="xiaoqu" placeholder="小区名称" style="width:450px;" /></div>
					<div class="row clearfix"><textarea class="ipt-area" name="content" placeholder="请输入您的问题或留言" style="height:80px;width:450px;"></textarea></div>
					<div class="row clearfix"><a class="btn-weixiu bg__ff4a00-hover transit">预约维修</a></div>
				</div>
			</div>
		</div>
	</div>
{template 'slider'}
{template 'ui_footer'}