<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<title>{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$DT[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$DT[sitename]}{/if}{/if}</title>
{if $head_keywords}
<meta name="keywords" content="{$head_keywords}"/>
{/if}
{if $head_description}
<meta name="description" content="{$head_description}"/>
{/if}
{if $head_mobile}
<meta http-equiv="mobile-agent" content="format=html5;url={$head_mobile}">
{/if}

<link rel="shortcut icon" type="image/x-icon" href="{DT_STATIC}favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="{DT_STATIC}favicon.ico"/>
{if $head_canonical}
<link rel="canonical" href="{$head_canonical}"/>
{/if}
{if $EXT[archiver_enable]}
<link rel="archives" title="{$DT[sitename]}" href="{$EXT[archiver_url]}"/>
{/if}
  <link rel="stylesheet" href="{DT_STATIC}statics/css/reset.css">
  <link rel="stylesheet" href="{DT_STATIC}statics/css/layout.css">
  <script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
  <script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
  <script src="{DT_STATIC}statics/js/jquery-1.9.1.min.js"></script>
  <script src="{DT_STATIC}statics/js/common.js"></script>

</head>
<body class="bg--fff">
  <!-- <>顶部区域 -->
	<div class="sec__header">
		<div class="header-inner borB">
			<!-- 顶部1 -->
			<div class="wrap_topbar clearfix">
				<div class="mid clearfix">
					<div class="fl"><a class="btn-favicon" onclick="addFav()">收藏东有</a><script src="{DT_STATIC}statics/js/auth.js"></script></div>
					<div class="fr">
						<ul class="rt-list">
							{if $_username}
							<li>您好 {$_truename} ，欢迎来到东有家居装饰！</li>
							<li class="vline">|</li>
							<li><a href="/member/collection_jiaju.php">我的收藏</a></li>
							{/if}
							<li class="vline">|</li>
							<li><a href="javascript:alert('待完善')">帮助中心</a></li>
							<li class="vline">|</li>
							<li>联系方式：<b class="ff-hv">13794416333</b></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //顶部2 -->
			<div class="wrap_navbar J__navbar">
				<div class="mid clearfix">
					<div class="logo fl"><a href="/"><img src="{DT_STATIC}statics/img/logo.png" /></a></div>
					<div class="nav__menu fl">
						<dl class="clearfix">
							<dd{if $moduleid<4} class="on"{/if}><a href="/">首页</a></dd>
							<dd{if $MODULE[moduleid]==$moduleid} class="on"{/if} data-type="1"><a href="{$MODULE[12][linkurl]}">{$MODULE[12][name]}<i class="arr"></i></a></dd>
							<dd{if $MODULE[moduleid]==$moduleid} class="on"{/if}><a href="{$MODULE[16][linkurl]}">{$MODULE[16][name]}</a></dd>
							<dd{if $MODULE[moduleid]==$moduleid} class="on"{/if} data-type="2"><a href="{$MODULE[11][linkurl]}">{$MODULE[11][name]}<i class="arr"></i></a></dd>
							<dd{if $MODULE[moduleid]==$moduleid} class="on"{/if} data-type="3"><a href="{$MODULE[21][linkurl]}">{$MODULE[21][name]}<i class="arr"></i></a></dd>
							<dd><a href="/about">关于我们</a></dd>
						</dl>
					</div>
					<div class="box__sear fr">
						<div class="inner clearfix">
							<div class="select fl J__searSelect">
								<i class="text" id="destoon_select">{if $MODULE[$moduleid][ismenu] && !$MODULE[$moduleid][islink]} {$MODULE[$moduleid][name]} {else} 全部 {/if}</i>
								<span class="option" style="display:none;">
									{loop $MODULE $m}
										{if $m[ismenu] && !$m[islink]}
										<em onclick="setModule('{$m[moduleid]}','{$m[name]}')">{$m[name]}</em>
										{/if}
									{/loop}
								</span>
							</div>
							<form class="fl" id="destoon_search" action="{$MODULE[$searchid][linkurl]}search.php" onsubmit="return Dsearch(1);">
								<input type="hidden" name="moduleid" value="{$searchid}" id="destoon_moduleid"/>
								<input type="hidden" name="spread" value="0" id="destoon_spread"/>
								<input class="ipt-sear fl" name="kw" id="destoon_kw" type="text" class="search_i" value="{if $kw}{$kw}{else}请输入关键词{/if}" onfocus="if(this.value=='请输入关键词') this.value='';"{if $DT[search_tips]} onkeyup="STip(this.value);" autocomplete="off"{/if} x-webkit-speech speech/>
								<input class="btn-sear fl" type="submit" value="" />
							</form>
						</div>
					</div>
				</div>
				<!--//下拉框-->
				<div class="wrap__dropdownMenu J__dropdownMenu">
					<div class="dropdownMenu" data-type="1" style="display:none;">
						<ul class="clearfix">
							<li><a href="/photo/list.php?catid=14"><i class="ico i1"></i><p>家居定制产品</p></a></li>
							<li><a href="/photo/list.php?catid=15"><i class="ico i2"></i><p>设计图库</p></a></li>
							<li><a href="/photo/list.php?catid=16"><i class="ico i3"></i><p>免费量尺设计</p></a></li>
						</ul>
					</div>
					<div class="dropdownMenu" data-type="2" style="display:none;">
						<ul class="clearfix">
							<li><a href="/special/list.php?catid=43"><i class="ico i4"></i><p>厂家定制图库</p></a></li>
							<li><a href="/special/list.php?catid=44"><i class="ico i5"></i><p>服务保障</p></a></li>
							<li><a href="/special/list.php?catid=45"><i class="ico i6"></i><p>场景定制</p></a></li>
						</ul>
					</div>
					<div class="dropdownMenu" data-type="3" style="display:none;">
						<ul class="clearfix">
							<li><a href="/news/list.php?catid=10"><i class="ico i7"></i><p>家装攻略</p></a></li>
							<li><a href="/news/list.php?catid=11"><i class="ico i8"></i><p>材料知识</p></a></li>
							<li><a href="/news/list.php?catid=12"><i class="ico i9"></i><p>设计知识</p></a></li>
							<li><a href="/news/list.php?catid=13"><i class="ico i10"></i><p>家居风水</p></a></li>
						</ul>
					</div>
				</div>
				<script type="text/javascript">
					$(function(){
						$(".J__navbar .nav__menu dl dd").hover(function(){
							$(this).addClass("on").siblings().removeClass("on");
							$(".J__dropdownMenu .dropdownMenu").hide();
							$(".J__dropdownMenu, .J__dropdownMenu .dropdownMenu[data-type='"+$(this).attr("data-type")+"']").slideDown(300);
						}, function(){

						});

						$(".J__navbar").on("mouseleave", function () {
							$(".J__dropdownMenu .dropdownMenu").slideUp(300);
							$(".J__navbar .nav__menu dl dd").removeClass("on");
						});
					});
				</script>
			</div>
		</div>
	</div>	<!-- END.sec_header -->
