{template 'ui_header'}
<link href="{DT_STATIC}statics/css/ucenter.css" rel="stylesheet" />
<script type="text/javascript" src="{DT_STATIC}file/script/swfobject.js"></script>
<!-- END.sec_header -->
	
	<!-- <>个人中心主体区域 -->
	<div class="sec__ucenter-wrapper mid pb--50 clearfix">
		<!--左导航-->
		{template 'navigator',$module}
		<div class="uc-main">
			<div class="uc-inner">
				<div class="uc-cntwrap clearfix">
					<!-- //修改密码-->
					<div class="uc-editTelphone ucbor bg--fff">
						<ul class="uc__switch-nav">
							<li class="on"><a href="javascript:;">修改密码</a></li>
							<div class="rt-info">
								<a class="ff-ar c--2093f7" href="/member">返回安全中心>></a>
							</div>
						</ul>
						<div class="ucborT padding30 pt--10">
							<!-- //信息管理-->
							<div class="uc__manageInfo pt--10">
								<div class="wrap-forms clearfix">
									<form method="post" id="dform">
										<input type="hidden" name="submit" value="1">
										<dl>
											<dd>
												<label class="lbl">当前密码</label>
												<input class="ipt-text" type="password" name="post[oldpassword]" id="oldpassword" />
											</dd>
											<dd>
												<label class="lbl">新密码</label>
												<input class="ipt-text" type="password" name="post[password]" id="password" placeholder="最少6位，不能和旧密码相同" />
											</dd>
											<dd>
												<label class="lbl">确认新密码</label>
												<input class="ipt-text" type="password" name="post[cpassword]" id="cpassword" placeholder="最少6位，不能和旧密码相同" />
												<div class="wxtips ff-ar"><em>温馨提示：修改登陆密码后，原密码将不能用来登陆。</em></div>
											</dd>
										</dl>
										<div class="wrap-btn"><a class="btn_def transit" href="javascript:;"><input type="submit" value="保存修改" style="border: none;background: none;font-size: 14px;color: #fff;height: 40px;width: 100%;"></a></div>
									</form>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- <>底部区域 -->
{template 'ui_footer'}