{template 'ui_header'}
<link href="{DT_STATIC}statics/css/ucenter.css" rel="stylesheet" />
<!-- END.sec_header -->
	
	<!-- <>个人中心主体区域 -->
	<div class="sec__ucenter-wrapper mid pb--50 clearfix">
		<!--左导航-->
		{template 'navigator',$module}
		<div class="uc-main">
			<div class="uc-inner">
				<div class="uc-cntwrap clearfix">
					<!-- //反馈问答-->
					<div class="uc-feedback ucbor bg--fff">
						<ul class="uc__switch-nav">
							<li class="on"><a href="javascript:;">反馈问答</a></li>
						</ul>
						<div class="ucborT padding30 pt--10">
							<div class="i-feedback">
								<div class="clearfix">
									<h2 class="fl">欢迎您反馈问题！您的意见将帮助我们改进产品和服务。</h2>
									<a class="btn-feedback bg__ff4a00-hover transit fr" href="个人中心-反馈问答(填写反馈).html">我要反馈</a>
								</div>
							</div>
							<!--问答列表-->
							<div class="feedback-list">
								<ul class="clearfix">
									<!--问-->
									<li class="others">
										<div class="avatar">
											<a href="javascript:;"><img src="img/ucenter/ico-wen.png" /></a>
										</div>
										<div class="content">
											<p class="author">2017/10/23 10:25</p>
											<div class="msg">
												<div class="plain">
													大家好，不要潜水啦，都出来聊天吧，给你们发红包噢~~ 大家好，不要潜水啦，都出来聊天吧，给你们发红包噢大家好，不要潜水啦，都出来聊天吧，给你们发红包噢大家好，不要潜水啦，都出来聊天吧
												</div>
											</div>
										</div>
									</li>
									<!--答-->
									<li class="me">
										<div class="avatar">
											<a href="javascript:;"><img src="img/ucenter/ico-da.png" /></a>
										</div>
										<div class="content">
											<p class="author">2017/10/23 10:30</p>
											<div class="msg">
												<div class="plain">
													好诶，好期待马总的红包！好诶，好期待马总的红包！好诶，好期待马总的红包！好诶，好期待马总的红包！好诶，好期待马总的红包！好期待马总的红包！
												</div>
											</div>
										</div>
									</li>
									<li class="others">
										<div class="avatar">
											<a href="javascript:;"><img src="img/ucenter/ico-wen.png" /></a>
										</div>
										<div class="content">
											<p class="author">2017/10/23 10:25</p>
											<div class="msg">
												<div class="plain">
													快发红包啦， 还不出来么~~快发红包啦， 还不出来么~~快发红包啦， 还不出来么~~快发红包啦， 还不出来么~~
												</div>
											</div>
										</div>
									</li>
									<li class="me">
										<div class="avatar">
											<a href="javascript:;"><img src="img/ucenter/ico-da.png" /></a>
										</div>
										<div class="content">
											<p class="author">2017/10/23 10:30</p>
											<div class="msg">
												<div class="plain">
													前方高能，马上到！！前方高能，马上到！！前方高能，马上到！！
												</div>
											</div>
										</div>
									</li>
									<li class="others">
										<div class="avatar">
											<a href="javascript:;"><img src="img/ucenter/ico-wen.png" /></a>
										</div>
										<div class="content">
											<p class="author">2017/10/23 10:25</p>
											<div class="msg">
												<div class="plain">
													动作要快，姿势要帅噢！~动作要快，姿势要帅噢！~动作要快，姿势要帅噢！~动作要快，姿势要帅噢！~动作要快，姿势要帅噢！~动作要快，姿势要帅噢！~
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							
							<!-- <>分页.pagination -->
							<div class="zone-g-pagination mt--10 clearfix">
								<div class="pagination-inner">
									<div class="p-body">
										<a class="first disabled" href="#" title="上一页">上一页</a>
										<span class="selected">1</span>
										<a href="#">2</a>
										<a href="#">3</a>
										<a href="#">4</a>
										<a href="#">5</a>
										<span class="dotted">...</span>
										<a href="#">15</a>
										<a class="last" href="#" title="下一页">下一页</a>
									</div>
									<div class="p-info mr--10 dib">
										跳到 <input class="ipt-text" type="text" /> <a class="btn-go">确定</a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- <>底部区域 -->
{template 'ui_footer'}