{template 'ui_header'}
<link href="{DT_STATIC}statics/css/ucenter.css" rel="stylesheet" />
<!-- <>个人中心主体区域 -->
<div class="sec__ucenter-wrapper mid pb--50 clearfix">
	<div class="uc-nav aside J__aside">
		<h2 class="hd"><a class="db" href="个人中心.html">个人中心首页</a></h2>
		<dl>
			<dd class="dropdown on"><i class="line"></i> <a href="javascript:;"><i class="ico i1"></i>我的订单</a><i class="arr"></i></dd>
			<dd class="dropdown__menu">
				<div class="menu">
					<a href="个人中心-我的订单(所有订单).html">所有订单</a>
					<a href="#">待付款</a>
					<a href="#">待发货</a>
					<a href="个人中心-点评(未点评-已点评).html">评价</a>
				</div>
			</dd>
			<dd class="dropdown on"><i class="line"></i> <a href="javascript:;"><i class="ico i6"></i>收藏夹</a><i class="arr"></i></dd>
			<dd class="dropdown__menu">
				<div class="menu">
					<a href="个人中心-收藏夹(家居定制).html">家居定制</a>
					<a href="个人中心-收藏夹(小区案例).html">小区案例</a>
					<a href="个人中心-收藏夹(常见问题).html">常见问题</a>
					<a href="个人中心-收藏夹(浏览历史).html">浏览历史</a>
				</div>
			</dd>
			<dd><i class="line"></i> <a href="个人中心-优惠券.html"><i class="ico i5"></i>优惠券</a></dd>
			<dd class="dropdown on"><i class="line"></i> <a href="javascript:;"><i class="ico i7"></i>账户设置</a><i class="arr"></i></dd>
			<dd class="dropdown__menu">
				<div class="menu">
					<a href="个人中心-账户设置(个人信息).html">个人信息</a>
					<a href="个人中心-账户设置(收货地址).html">收货地址</a>
					<a href="个人中心-账户设置(我的积分).html">我的积分</a>
					<a href="个人中心-安全中心.html">安全中心</a>
					<a href="个人中心-反馈问答.html">反馈问答</a>
				</div>
			</dd>
		</dl>
	</div>

	<div class="uc-main">
		<div class="uc-inner">
			<div class="uc-cntwrap clearfix">
				<div class="uc-collect uc-mycollect uc-myorder ucbor bg--fff">
					<ul class="uc__switch-nav">
						<li class="on"><a href="#">全部订单</a></li>
						<li><a href="#">待付款<em class="num">3</em></a></li>
						<li><a href="#">待收货</a></li>
						<li><a href="#">已完成</a></li>
						<li><a href="#">退款</a></li>
					</ul>
					<div class="pb--30">
						<div class="uc__table">
							<table border="0" cellspacing="0" cellpadding="0">
								<thead>
									<tr>
										<th width="40%">产品信息</th>
										<th>数量</th>
										<th>订单金额</th>
										<th>下单时间</th>
										<th>订单状态</th>
									</tr>
								</thead>
								<tbody class="J__trHover">
									<tr>
										<td class="v__top">
											<img class="v__top img__radius mr--15 fl" src="{DT_STATIC}statics/img/placeholder/case-img01.jpg" height="50" width="50"
											/>
											<div class="v__middle mt--5">
												<h2 class="title fs16 ff-ar clamp1"><a href="#">盈彩美局张先生多功能全铝橱柜门盈彩美局张先生多功能全铝橱柜门</a></h2>
												<p class="fs12 ff-ar clamp1 c--999">订单编号：sz59f55412a450087af8</p>
												<p class="fs12 ff-ar clamp1 c--999">产品类型：橱柜门</p>
											</div>
										</td>
										<td class="align-c">1</td>
										<td class="align-c"><span class="c--ff4a00 ff-ar">￥<em class="fs18">568</em></span>元</td>
										<td class="align-c">2017-08-22 22:15</td>
										<td class="align-c">已取消</td>
									</tr>
									<tr>
										<td class="v__top">
											<img class="v__top img__radius mr--15 fl" src="{DT_STATIC}statics/img/placeholder/case-img03.jpg" height="50" width="50"
											/>
											<div class="v__middle mt--5">
												<h2 class="title fs16 ff-ar clamp1"><a href="#">盈彩美局张先生多功能全铝橱柜门盈彩美局张先生多功能全铝橱柜门</a></h2>
												<p class="fs12 ff-ar clamp1 c--999">订单编号：sz59f55412a450087af8</p>
												<p class="fs12 ff-ar clamp1 c--999">产品类型：橱柜门</p>
											</div>
										</td>
										<td class="align-c">2</td>
										<td class="align-c"><span class="c--ff4a00 ff-ar">￥<em class="fs18">1125</em></span>元</td>
										<td class="align-c">2017-08-22 22:15</td>
										<td class="align-c">待付款</td>
									</tr>
									<tr>
										<td class="v__top">
											<img class="v__top img__radius mr--15 fl" src="{DT_STATIC}statics/img/placeholder/case-img05.jpg" height="50" width="50"
											/>
											<div class="v__middle mt--5">
												<h2 class="title fs16 ff-ar clamp1"><a href="#">盈彩美局张先生多功能全铝橱柜门盈彩美局张先生多功能全铝橱柜门</a></h2>
												<p class="fs12 ff-ar clamp1 c--999">订单编号：sz59f55412a450087af8</p>
												<p class="fs12 ff-ar clamp1 c--999">产品类型：橱柜门</p>
											</div>
										</td>
										<td class="align-c">1</td>
										<td class="align-c"><span class="c--ff4a00 ff-ar">￥<em class="fs18">568</em></span>元</td>
										<td class="align-c">2017-08-22 22:15</td>
										<td class="align-c">已付款</td>
									</tr>
									<tr>
										<td class="v__top">
											<img class="v__top img__radius mr--15 fl" src="{DT_STATIC}statics/img/placeholder/case-img07.jpg" height="50" width="50"
											/>
											<div class="v__middle mt--5">
												<h2 class="title fs16 ff-ar clamp1"><a href="#">盈彩美局张先生多功能全铝橱柜门盈彩美局张先生多功能全铝橱柜门</a></h2>
												<p class="fs12 ff-ar clamp1 c--999">订单编号：sz59f55412a450087af8</p>
												<p class="fs12 ff-ar clamp1 c--999">产品类型：橱柜门</p>
											</div>
										</td>
										<td class="align-c">3</td>
										<td class="align-c"><span class="c--ff4a00 ff-ar">￥<em class="fs18">2135</em></span>元</td>
										<td class="align-c">2017-08-22 22:15</td>
										<td class="align-c">已完成</td>
									</tr>
									<tr>
										<td class="v__top">
											<img class="v__top img__radius mr--15 fl" src="{DT_STATIC}statics/img/placeholder/case-img02.jpg" height="50" width="50"
											/>
											<div class="v__middle mt--5">
												<h2 class="title fs16 ff-ar clamp1"><a href="#">盈彩美局张先生多功能全铝橱柜门盈彩美局张先生多功能全铝橱柜门</a></h2>
												<p class="fs12 ff-ar clamp1 c--999">订单编号：sz59f55412a450087af8</p>
												<p class="fs12 ff-ar clamp1 c--999">产品类型：橱柜门</p>
											</div>
										</td>
										<td class="align-c">3</td>
										<td class="align-c"><span class="c--ff4a00 ff-ar">￥<em class="fs18">2135</em></span>元</td>
										<td class="align-c">2017-08-22 22:15</td>
										<td class="align-c">退款中</td>
									</tr>
									<tr>
										<td class="v__top">
											<img class="v__top img__radius mr--15 fl" src="{DT_STATIC}statics/img/placeholder/case-img04.jpg" height="50" width="50"
											/>
											<div class="v__middle mt--5">
												<h2 class="title fs16 ff-ar clamp1"><a href="#">盈彩美局张先生多功能全铝橱柜门盈彩美局张先生多功能全铝橱柜门</a></h2>
												<p class="fs12 ff-ar clamp1 c--999">订单编号：sz59f55412a450087af8</p>
												<p class="fs12 ff-ar clamp1 c--999">产品类型：橱柜门</p>
											</div>
										</td>
										<td class="align-c">2</td>
										<td class="align-c"><span class="c--ff4a00 ff-ar">￥<em class="fs18">1125</em></span>元</td>
										<td class="align-c">2017-08-22 22:15</td>
										<td class="align-c">已退款</td>
									</tr>
									<tr>
										<td class="v__top">
											<img class="v__top img__radius mr--15 fl" src="{DT_STATIC}statics/img/placeholder/case-img07.jpg" height="50" width="50"
											/>
											<div class="v__middle mt--5">
												<h2 class="title fs16 ff-ar clamp1"><a href="#">盈彩美局张先生多功能全铝橱柜门盈彩美局张先生多功能全铝橱柜门</a></h2>
												<p class="fs12 ff-ar clamp1 c--999">订单编号：sz59f55412a450087af8</p>
												<p class="fs12 ff-ar clamp1 c--999">产品类型：橱柜门</p>
											</div>
										</td>
										<td class="align-c">4</td>
										<td class="align-c"><span class="c--ff4a00 ff-ar">￥<em class="fs18">3585</em></span>元</td>
										<td class="align-c">2017-08-22 22:15</td>
										<td class="align-c">待收货</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- <>分页.pagination -->
						<div class="zone-g-pagination mt--20 clearfix">
							<div class="pagination-inner">
								<div class="p-body">
									<a class="first disabled" href="#" title="上一页">上一页</a>
									<span class="selected">1</span>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<span class="dotted">...</span>
									<a href="#">15</a>
									<a class="last" href="#" title="下一页">下一页</a>
								</div>
								<div class="p-info mr--10 dib">
									跳到 <input class="ipt-text" type="text" /> <a class="btn-go">确定</a>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{template 'slider'} {template 'ui_footer'}